.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

h1 {
  font-family: 'DynaPuff';
  font-weight: 570;
  font-size: 3.2em;
  line-height: 1.1;
  justify-content: center;
  align-items: center;
}
