.output-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 9rem;
  padding: 1rem;

  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  white-space: pre-wrap;
  /* background-color: #333333;
  border-radius: 15px; */
}

.user-message {
  align-self: flex-end;
  background-color: #333333;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 5px 0;
  max-width: 90%;
}

.ai-message {
  align-self: flex-start;
  padding: 10px 15px;
  margin: 5px 0;
  max-width: 90%;
  /* background-color: #444444;
  border-radius: 15px; */
}

.ai-message pre {
  background-color: #333;
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
  margin: 10px 0;
}

.ai-message code {
  font-family: monospace;
  background-color: #333;
  padding: 2px 4px;
  border-radius: 3px;
}

.ai-message h1,
.ai-message h2,
.ai-message h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.ai-message p {
  margin-bottom: 10px;
}

.ai-message ul,
.ai-message ol {
  margin-left: 20px;
  margin-bottom: 10px;
}
